@import "tailwindcss";

:root {
  --primary: #FFFFFF;
  --secondary: #F3F4F6;
  --tx-secondary: #6B7280;
  --head:#1E3A8A;
  --btn: #3B82F6;
  --success: #10B981;
  --error: #EF4444;
  --warn: #F59E0B;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tx-secondary: var(--tx-secondary);
  --color-head: var(--head);
  --color-btn: var(--btn);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warn: var(--warn);
}
